/data
/logs
/scratch
*.log
events.out.tfevents.*

*.yaml

result*

*.jpeg
*.jpg
*.JPG
*.png
*.PNG

*.mp4
*.mov
*.MOV

*.ply
*.txt
*.xyz
*.xyzrgb

*.ckpt
checkpoint_*
*.npy

*.bak
*~

.clangd
.clang-format
build/
*.egg-info
.venv
.cache

*.pyc
